    <h1 class="welcome-msg">Welcome to CSE Motors!</h1>
    
    <div class="welcome-container">
        <img src="/images/vehicles/delorean.jpg" alt="delorean car">
    </div>
        <div class="description-container">
            <ul class="description-cars">
                <li>DMC Delorean</li>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
                <li><img src="/images/site/own_today.png" alt="own today icon"></li>
            </ul>
        </div>
        <div class="upgrades-reviews-container">
            <div class="reviews">
                <h2>DMC Delorean Reviews</h2>
                <ul>
                    <li>"So fast It's almost like traveling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80's livin and I love it!" (5/5)</li>
                </ul>
            </div>
            
            <div class="upgrades-container">
                <h2 class="upgradeH2">Delorean Upgrades</h2>
                <p>
                    <img src="/images/upgrades/flux-cap.png" alt="A flux car capacitor">
                    <a href="#">Flux Capacitor</a>
                </p>
                <p>
                    <img src="/images/upgrades/flame.jpg" alt="flame decals car sticker" width="55">
                    <a href="#">Flame Decals</a>
                </p>
                <p>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="car bumper sticker">
                    <a href="#">Bumper sticker</a>
                </p>
                <p>
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub cap">
                <a href="#">Hub Caps</a>
                </p>
            </div>
        </div>
