/**** Fonts ****/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/**** Variables ****/
:root {
  --font-header: "Lora", serif;
  --font-body: "Inter", sans-serif;
  --darker-blue: hsl(225, 41%, 39%);
  --bright-blue: hsl(214, 66%, 56%);
  --lighter-blue: hsl(203, 65%, 58%);
  --blue-green: hsl(186, 36%, 48%);
  --dark-green: hsl(94, 22%, 29%);
  --light-green: hsl(97, 42%, 94%);
  --text-black: hsl(0, 0%, 0%);
  --text-white: hsl(0, 0%, 100%);

}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  max-width: 100%;
}

/******* Global/Mobile version ***************/
/***** Header ****/
main,
#wrapper,
footer {
  max-width: 100%;
  width: 62em;
  margin-block: 0;
  padding: 0;
}

.siteName a {
  font-family: var(--font-header);
  font-weight: 700;
  color: var(--text-black);
  text-decoration: none;
  font-size: clamp(30px, 5vw, 34px);
}

#top-header {
  display: grid;
  grid-template-columns: 1fr 120px;
}

.tools a {
  text-decoration: none;
  color: var(--dark-green);
  margin-top: 10px; 
  font-weight: 600;
}

 /**** Navigation ****/
nav {
  background-color: var(--dark-green);
  
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  list-style-position: inside;
}

nav li {
  color: var(--text-white);
  list-style: none;
  /* margin-inline: 10px; */
  justify-content: center;
  font-size: 18px;
  padding-block: 4%; 
}

nav li a{
  color: var(--text-white);
  text-decoration: none;
}

  /**** Welcome information ****/
 .welcome-msg {
   font-size: clamp(22px, 5vw, 40px);
   margin-bottom: 40px;
   font-family: var(--font-header);
}

.welcome-detail {
  color: var(--dark-green);
  font-weight: 800;
  text-shadow: 0px 0px 1px var(--text-black);
}

.welcome-container {
  display: flex;
  justify-content: right;  
}

.welcome-container img { 
  width: 95%;
  max-width: 60%;
}

/**** Description Call of action ****/
.description-container {
  position: relative;
  padding: 2%;
}

.description-cars {
  color: var(--dark-green);
  position: absolute;
  background-color: hsla(94, 22%, 29%, 0.155);
  bottom: -1.5rem;
  padding: 1% 3%;
  left: 0.8rem;
  border-radius: 10px;
}

.description-cars li {
  list-style: none;
  font-size: clamp(12px, 5vw, 20px);
  line-height: 1.3em;
  font-weight: 600;
}

.description-cars li:nth-child(1) {
  font-size: clamp(22px, 5vw, 24px);
  font-weight: 800;
}

.description-container img {
  margin-top: 10px;
  width: 125px;
}

/**** Reviews ****/
.reviews h2{
  margin-bottom: 0;
}

.reviews ul li {
  line-height: 2.5em;
  font-weight: 600;
  font-style: italic;
}

/**** Upgrades ****/
.upgradeH2 {
  margin-bottom: 0;
}

.upgrades-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  background-color: var(--text-white);
  margin-bottom: 30px;
}

.upgrades-container h2 {
  grid-column: span 2;
}

.upgrades-container p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-green);
  box-shadow: 0 0 5PX var(--darker-blue);
  padding: 10px;
  text-align: center;
  margin-bottom: -20px;
  border-radius: 5px;
}

.upgrades-container img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.upgrades-container a {
  text-decoration: none;
  color: var(--text-white);
  font-weight: bold;
  border: 1px solid var(--text-white);
  padding: 3%;
  margin: 3%;
  border-radius: 5px;
}

.upgrades-reviews-container {
  display: block;
}

/**** Footer  ****/
footer p {
  font-weight: 800;
  color: var(--dark-green);
  margin-block: 20px;
  padding-top: 10px;
}

/**** Inventory Page ****/
hr {
  display: none;
}

.inv-ul {
  list-style: none;
  padding: 0;
}

.inv-ul li {
  background-color: var(--light-green);
  padding: 20px;
  margin-block: 20px;
  box-shadow: 0px 0px 15px var(--darker-blue);
  border-radius: 5px;
}

.inv-ul li a{
  color: var(--text-black);
}

.namePrice {
  font-size: 20px;
}

.namePrice span {
  font-size: 24px;
}

/**** Single View Inv ****/
.sg-view-container{
  background-color: var(--dark-green);
  color: var(--text-white);
  padding: 10px 5px;
}

.title-single-page, .title-login {
  font-size: 24px;
  padding:  0 10px;
}

.full-img img{
  width: 100%;
  max-width: 100%;
  display: block;
  margin-top: 15px;
} 



.img-desc p{
  font-size: clamp(20px, 5vw, 18px);
  padding: 10px;
  white-space: pre-wrap;
  /* margin-block: 10px; */
}


.call-today {
  padding-left: 10px;
}

.desc-ul{
  font-size: clamp(20px, 5vw, 20px);
  list-style: none;
  padding-left: 0;
  margin-left: 10px;
  line-height: 1.7em;
}

/***************** FORMS *******************/
/**** Login Form ****/

.notice {
  color: rgb(82, 4, 4);
  font-style: italic;
  font-weight: 500;
}
.title-login, 
.title-register,
.add-inventory-title,
.add-classification-title,
.management-title{
  color: var(--dark-green);
  padding-left: 10px;
  font-size: 30px;
}

.login-form, 
.register-form, 
.classification-form,
.inventory-form {
  display: block;
  background-color: var(--dark-green);
  color: var(--text-white);
  width: 100%;
  max-width: 100%;
  padding: 20px;
  font-size: 18px;
  margin-inline: auto;
  box-shadow: none;
}

.login-form label,
.register-form label,
.classification-form label,
.inventory-form label {
  font-size: 18px;
  padding: 0.7em 0 0.4em 0.4em;
  display: inline-block;
}

.login-form label + input,
.register-form label+input,
.classification-form label+input,
.inventory-form label+input,
.inventory-form label+select {
  display: block; 
}

.login-form input,
.register-form input,
.classification-form input, 
.inventory-form input,
.inventory-form select,
.inventory-form textarea {
  padding: 1em;
  width: 100%;
  border-radius: 10px;
  border: none;
  caret-color: var(--dark-green);
}

.login-btn, 
.register-btn, 
.classification-btn, 
.inventory-btn {
  width: 100%;
  margin-top: 15px;
  padding: 3% 0;
  border-radius: 10px;
  background-color: var(--light-green);
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-green);
  cursor: pointer;
}

.login-btn a {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: 700;
  font-size: 18px;
}

.pass-req span{
  display: block;
  margin-top: 10px;
}


/**** Validations Form ****/

.input-wrapper input:required:invalid,
.input-wrapper input:focus:invalid,
.input-wrapper textarea:required:invalid,
.input-wrapper textarea:focus:invalid,
select:focus:invalid {
  appearance: none;
  border: 1px solid #900;
  background-color: rgb(252, 235, 235);
}

.input-wrapper input:focus:required:valid,
.input-wrapper textarea:focus:required:valid,
select:focus:required:valid {
  appearance: none;
  box-shadow: 0 0 10px var(--text-white);
  background-color: var(--light-green);
  border: none;
}

select:valid {
  background-color: var(--light-green);
}

select option[value=""] {
  background-color: rgb(252, 235, 235);
}

/**** Management View****/
.management-container {
  background-color: var(--dark-green);
  padding: 5% 3%;
}

.management-container a{
  color: var(--text-white);
  display: block;
  margin-block: 10px;
  font-size: 18px;
}

.inventory-form fieldset {
 margin: 0;
}
.inventory-form legend {
  margin-inline: auto;
}


/**** Large View ****/
@media (min-width: 1024px) {

  /**** Background ****/
  .bg-checker {
    background-image: url('/images/site/small_check.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: 70em;
    margin-inline: auto;
    padding-block: 25px
  }
  
  /**** Header ****/
  main, #wrapper, footer{
    margin-inline: auto;
    background-color: var(--text-white);
    padding: 2% 1%;
    border-left: 20px solid var(--dark-green);
    border-right: 20px solid var(--dark-green);
  }

  #wrapper {
    border-top: 20px solid var(--dark-green);
  }

  .tools a {
    align-self: center;
  }

  /**** Navigation ****/
  nav {
    margin-top: 35px;
  }

  nav li {
    padding-block: 2%;
  }
  nav li a {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    padding: 10px;
    transition: all 0.3s ease 0s;
  }
  nav li a:hover {
    border-bottom: 2px solid var(--text-white);
    border-top: 2px solid var(--text-white);
    padding: 10px;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
  }

  /**** Welcome information ****/
  .welcome-container {
    justify-content: center;
  }

  .welcome-msg {
    margin-top: -40px;
  }

  /**** Description Call of action ****/
  .description-cars li {
    font-weight: 700;
  }

  .description-cars {
    bottom: 3rem;
    left: 5rem;
    padding: 3%;
  }

  .description-container img {
    width: 200px;
  }

  /**** Grid container (Upgrades/Reviews) ****/
  .upgrades-reviews-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 20px;
    margin-top: 20px;
  }

  .upgrades-container p {
    margin-bottom: 0;
  }

  .reviews {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--light-green);
    padding: 10px;
    border-radius: 10px;
  }

  .reviews h2 {
    margin-left: 5px;
    margin-top: 20px;
  }

  .reviews ul li {
    line-height: 3em;
    padding-left: 0;
    padding-right: 5px;
  }

  /**** Upgrades ****/
  .upgrades-container {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0px;
  }

  .upgrades-container h2 {
    margin-bottom: 0;
    text-align: center;
  }

  /**** Footer ****/
  footer {
    background-color: var(--dark-green);
  }

  footer p, a {
    color: var(--text-white);
  }

  /**** Inventory Page ****/
  .inv-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .inv-ul li {
    margin-bottom: 0;
  }

  /* .inv-title, .title-single-page {
    margin-top: -20px;
  } */
  .namePrice h2 a{
    text-decoration: none;
    font-size: 22px;
  }

  .namePrice span {
    font-style: italic;
    font-weight: 800;
    color: var(--dark-green);
    margin-bottom: 0;
  }

  .example_d {
    background: var(--text-white);
    padding: 10px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }

  .example_d:hover {
    color: var(--dark-green);
    border-radius: 10px;
    border-top: 2px solid var(--dark-green);
    border-bottom: 2px solid var(--dark-green);
    border-color: var(--dark-green);
    transition: all 0.3s ease 0s;
  }

  /**** Single View Inv ****/
  .sg-view-container {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr;
    border-radius: 5px;
    overflow: hidden;
    gap: 20px;
    background-color: var(--light-green);
    box-shadow: 0 0 20px var(--darker-blue);
  }
  
   
  .img-desc
   {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  .single-desc {
    line-height: 1.8em;
  }

  .full-img img {
    box-shadow: none;
    width: 90%;
  }

  .img-desc {
    background-color: var(--dark-green);
    padding: 10px;
  }

  .img-desc p {
    margin-top: 0;
    padding-top: 0;
  }
  
  
  .inventory-container {
    grid-column: 2/2;
    grid-row: 1/1;
    color: var(--text-black);
    align-content: center;
  }
  
  .title-single-page {
    grid-column: 2/2;
    grid-row: 1/1;
    color: var(--dark-green);
    font-family: var(--font-header);
    font-size: 28px;
  }

  .desc-ul {
    margin-top: -20px;
  }

  .call-today {
    font-style: italic;
    font-family: var(--font-header);
    font-size: 26px;
    color: var(--dark-green);
    font-weight: 800;
  }

  .single-desc,
  #inv_description {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  /***************** FORMS *************/
  .form-container {
    width: 40em;
  }

  .login-form, .register-form {
    padding: 10%;
  }

  .new-account a {
    color: var(--text-black);
  }

  .form-container {
    margin-inline: auto;
    display: block;
  }

  .title-login,
  .title-register,
  .add-classification-title,
  .add-inventory-title {
    font-size: 32px;
    margin-top: -10px;
    color: var(--dark-green);
  }
  .tools a {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease;
  }
  .tools a:hover {
    border-top: 2px solid var(--dark-green);
    border-bottom: 2px solid var(--dark-green);
    border-radius: 5px;
  }

  .login-btn, 
  .register-btn, 
  .classification-btn, 
  .inventory-btn {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }

  .login-btn a:hover, 
  .register-btn:hover,
  .classification-btn:hover,
  .inventory-btn:hover {
    background-color: var(--dark-green);
    color: var(--text-white);
    border-top: 2px solid var(--text-white);
    border-bottom: 2px solid var(--text-white);
  } 

  .new-account a {
    font-weight: 400;
    transition: all 0.3s ease;
  }

  .new-account a:hover {
    color: var(--dark-green);
    font-weight: 600;
  }

}




