<div class="form-container">
    <!-- Title Heading -->
    <% if (title) { %>
        <h1 class="management-title">
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>
    
   <!-- Display Flash msg -->
    <%- messages() %>
    
    <div class="management-container">
        <a href="/inv/add-classification">Add New Classification</a>
        <a href="/inv/add-inventory">Add New Vehicle</a>
    </div>
</div>
