<div class="form-container">
    <!-- Title Heading -->
    <% if (title) { %>
        <h1 class="management-title">
            <%= title %>
        </h1>
        <% } else { res.redirect('/') } %>
    
   <!-- Display Flash msg -->
    <%- messages() %>
    
    <div class="management-container">
        <a href="/inv/add-classification">Add New Classification</a>
        <a href="/inv/add-inventory">Add New Vehicle</a>
    </div>

<h2 class="management-title">Manage Inventory</h2>
<p>Select a classification from the list to manage the inventory.</p>
<p><label for=""><%- classificationSelect %></label></p>

<table id="inventoryDisplay" class="inventoryDisplay"></table>
</div>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>
