<!-- Title Heading -->
<% if (title) { %>
    <div class="sg-view-container">
        <h1 class="title-single-page">
            <%= title %>
        </h1>

        <!-- Message block for displaying possible errors -->
        <%# messages() %>

        <!-- main content -->
        <%- grid %>
    </div>
    
    <% } %>